# ML_unsupervised
IT Academy T8.1

# Algoritmes d’aprenentatge NO supervisat: Agrupació

### Exporació del dataset

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [12]:
df = pd.read_csv("Publicacions Facebook Thailandia.csv")
df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,9/24/2016 2:58,89,0,0,89,0,0,0,0,0,NaN,NaN,NaN,NaN
7046,1050855161656896_1061334757275603,photo,9/23/2016 11:19,16,0,0,14,1,0,1,0,0,NaN,NaN,NaN,NaN
7047,1050855161656896_1060126464063099,photo,9/21/2016 23:03,2,0,0,1,1,0,0,0,0,NaN,NaN,NaN,NaN
7048,1050855161656896_1058663487542730,photo,9/20/2016 0:43,351,12,22,349,2,0,0,0,0,NaN,NaN,NaN,NaN
7049,1050855161656896_1050858841656528,photo,9/10/2016 10:30,17,0,0,17,0,0,0,0,0,NaN,NaN,NaN,NaN

In [13]:
df.columns

Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys', 'Column1', 'Column2', 'Column3',
       'Column4'],
      dtype='object')

### Explicació de les variables de cada columna

1. status_id:

Aquesta columna sembla ser un identificador únic per a cada publicació d'estat o post a les xarxes socials. És una cadena de text que pot ser utilitzada per identificar de manera única cada publicació.

2. status_type: 

Aquesta columna descriu el tipus de publicació, com ara "video", "photo", "link" o "status". Pot ser útil per analitzar quins tipus de continguts funcionen millor en les xarxes socials.

3. status_published:

Aquesta columna conté les dates i les hores de publicació de les entrades a les xarxes socials. És útil per analitzar els horaris de publicació més efectius.

4. num_reactions: 

Aquesta columna representa el nombre de reaccions (com "m'agrada", "està bé", "em fa gràcia", etc.) que ha rebut una publicació. Això pot ser útil per avaluar l'engagement de les publicacions.

5. num_comments: 

Aquesta columna indica el nombre de comentaris que ha rebut una publicació. Pot ser una indicació de la interacció i les discussions generades per una publicació.

6. num_shares: 

Aquesta columna representa el nombre de vegades que s'ha compartit una publicació a través de les xarxes socials. Això pot indicar quines publicacions es van fer virals o van ser compartides àmpliament.

7. num_likes: 

Aquesta columna indica el nombre de "m'agrada" que ha rebut una publicació. Aquesta és una forma específica de reacció que pot ser important per a moltes empreses i pàgines.

8. num_loves: 

Aquesta columna compta el nombre de reaccions de "està bé" o "em fa molta estima" que ha rebut una publicació. Aquest tipus de reacció reflecteix sentiments positius.

9. num_wows: 

Aquesta columna compta el nombre de reaccions de "em fa gràcia" que ha rebut una publicació. Aquest tipus de reacció reflecteix sorpresa o admiració.

10. num_hahas: 

Aquesta columna indica el nombre de reaccions d'"em fa gràcia" o "m'he rigut" que ha rebut una publicació. Això indica que la publicació és divertida.

11. num_sads:

Aquesta columna compta el nombre de reaccions de "està trist" que ha rebut una publicació. Això indica sentiments de tristesa associats amb la publicació.

12. num_angrys:

Aquesta columna compta el nombre de reaccions d'"em fa enfadar" o "m'enfado" que ha rebut una publicació. Això indica que la publicació pot haver provocat sentiments de ràbia o irritació.

13 - 16. Column1, Column2, Column3, Column4:

Aquestes columnes no semblen contenir dades vàlides, ja que tots els seus valors són NaN (Not a Number), la qual cosa indica que no tenen informació vàlida.

In [8]:
# Explorem valors únics en cada columna
for col in df.columns:
    num_valors_unics = df[col].nunique()
    print(f"Columna '{col}' | {num_valors_unics} valors únics: {df[col].unique()}")

Columna 'status_id' | 6997 valors únics: ['246675545449582_1649696485147474' '246675545449582_1649426988507757'
 '246675545449582_1648730588577397' ...
 '1050855161656896_1060126464063099' '1050855161656896_1058663487542730'
 '1050855161656896_1050858841656528']
Columna 'status_type' | 4 valors únics: ['video' 'photo' 'link' 'status']
Columna 'status_published' | 6913 valors únics: ['4/22/2018 6:00' '4/21/2018 22:45' '4/21/2018 6:17' ... '9/21/2016 23:03'
 '9/20/2016 0:43' '9/10/2016 10:30']
Columna 'num_reactions' | 1067 valors únics: [529 150 227 ... 558 570 415]
Columna 'num_comments' | 993 valors únics: [  512     0   236     6   614   453     1     9     2     4    11   100
   256   173   166    15     7    36    78   300    14     8   137   292
    72    39   181   210    12   456    60   235   444    21   255   136
   327   284   114    81   193    32   258    13   259   468   130   251
   247    89   341   316   368    76    63   171   461   540     3    10
    18    16    25   709  1979    17   145   116   157    46   120   486
     5   199    77   825   805   449    49   589   558    31   424   131
   525    24   491   633   588    20    23   417   355   564   110   605
   158   888   911   996   574    34    28  1381   524    19   462    40
   254   265   523   309    61    22   769    48    37   560   117   128
   427    54    95   266    75   165  6148   103   195    84  1201   147
   127    44   274  5498 19013  4661   432   383   169 20990    80    26
    27   186    33   102    93    30    52   154    53   184    35    62
   152   124   134    29    45   108   242    43    41   389   407    67
    57   129   211   222   260   290   330   286   225   363    74    56
   297   354   206   361   390   509    70   213   179   175   281    42
    50    38    85    58    66    55    51   122   113   243   196   162
   156   234   107    64    86   214    47  1222   553   816   612   457
   785   694  3221  1060   904  1094  2428   715  1019   891    59   859
   828    98  1268  1129  1377  2626   626  1490    65  4143  1214   974
  2360  1233  3416   927   784  1066   892   794   998  1328  1092  1043
   679   926  1121    87  1000  3014   119   505   495   944   649  1566
  1828  1491  1086   508  2099   677   657   517  1354  1489  2297   504
   583   516  1158 12003  7130   869  1215   551   810  5006   579  4741
  1543  4162  3175  7783  3882  4761  4031  3420  6151   205   714    97
   351   708   970   955   438   799   965   622   939   744  1154  1034
  2025   637   233  1044   593  1372   959  1278  1156  1418   481   994
  1346   764  1789  1053  5839   982   182  1250   866   662   507   315
   645   841   803   778   606   860   464   570  1037   969   931   562
  1776   217   566   280   683   559   627   382   240   257   183    82
   126    68   132   278   104   237   197   252   226  5166   535  7895
   733  6523   324   477  7208   133  4083  1715  5963  5204  6535  3919
  4829   895  7061  3692  1909  5516  6622  7013  3740  4007  1061  6940
  9452  1724  2041  7145  4018    69    83    88   821   981   591   723
  1120   817  1734   272   333   408  1002   518  1229   450   360   746
  1020   332   568   775   440   758   416   938    91    73   200   164
    90   123    96   338   168   336   437   204   401   283   442   331
   112  1131   902  1242  1177   909  1561  1358  2117  1249  1099  1473
  1585   144  1325   923  1230  1609  1330  1293  2279   176  1153  1484
  1765  1913  1220  6174  1727  1794  2257  1671  1469  1846  1920  1568
  1499  1530  1267  1478  2092  2185  1890  1778  1936  1440  2314  2903
   121  2153  1360   771   542  1076  1497  1151   887   647  1389  2925
  1132  2571   878  1247  1309  2059   916  1276   436  1403  1624   636
  1626   851   933  1950  1726  1384  1650   239  2458   311   783  1282
  2478   151  1586  1961  1438  1245  1827  1625  1186   146   105   177
   356   455   695   303   418   530   506   209   555   482   458   597
   619   395   595   366   392   367   573   760   779   541   323   277
   400   537   313   543   362   379   276   472   369   348   326   287
   420   413   194   250   373   306   528   385   358   321   353   342
   402   388   305   635   604   328   275   218   269  3360   346   396
   391   404   419   304   319   299   220   386   384   398   307   335
   347   295   526   864   375   703   623  1138   447   339   263   142
   631   544   429   511   556   467   499   262   329   847   567   487
   995   502   469   501  1122   590   853   857   722   767   630   423
  1366  1800   584   498   439  1320   473   489   881   906   466   672
   536   546   352   592   415   941   515    79   454   325   726   378
   571  1030   793  1630  1688  1196   215  1311   476   270  1819   706
   815   745   915  1221  1085  1430   885   718  1096  1080   809  1176
  1270   898  1275  1008  2021  1820   914  1005  1689   548   656  1425
  1003   913  1050  1145  1112   967  1119  1908  1942  1410  1487  1972
   736  1017  3800  1169  1059   603  1069  1212   752  1762   470   459
   202   519   664  1912   924  1140  3450  2409  1814  1594  2638  1039
  1356  2979   359  2112   245  1562   443  1244  1503  1651  1199   293
  1172   800   667   271  1051  1382  2798  2546   337  1082  1415  1661
   798  1200  1133  1493   349  1113  1532  1259  1488  1934   229  1194
  1056   625  1680  1209  1307  1374   433  1006  1591   545   294  1183
  1142  1550  1168   405   908  1357  1315  1756   221  1516  1711  2379
   948  1858   238   578  1045   377  1035   953   410  3053  1485  2195
  1049   296   106   161   308    94   143    71  2365  1476  1641   844
  1949  1529  2904  5491  3035  4066  1835  3456  1446  2842  3779  5352
  6316  4068  2606  3994  2176  1569  2609  3000  5237  1875  2373  1435
  1970  2113  2574  2068  1660  2719  1084  3958  2685  4845  1957  2744
  2555  2948  3789  2339   118  3584   212 10186   357   282    92  4097
   660  1753  4255   952  1191  1738   365   659   831   801   178   687
  1343  1150   279  4267  1226  1834  7543  1335 10194   192   448   479
  5514  2497  4300   529   497  3343  3022   139  5386  4272  4340  3392
  3202   261  1646  2762  4444  4240  3287 17404 10960  3593  6942  5779
  3892  9831   838   441  1966  5411  7751   150   613  7943 10926  4391
  8601  7572  7524  3917  3449   755  9039   701  2863  5757  1839  4963
   253  4336  5254  4462  2792  6407   350  4637  1686   824  1805  5995
  1732  1540  1829  1431  2167  3529  4225  4214  4642  4615  2635  1078
  3625  2773  1681  1577  1729  3146   870  3367  1773  3966  3683  1348
  3863  5000   880  2641  2303  4487  5404  4432  4472]
Columna 'num_shares' | 501 valors únics: [ 262    0   57   72   53    1    3    2   30   79   47   36   14    9
   31   26   13    6   28   23   21   34   37   11   46  111   48   42
   16   33   86   51   43   40   41   50   15  753   17    5   39   32
   25    4   27    8  257    7  107   73   67   38   20   69   49   24
   10  120   94  161  178   52   29  154  227  212   58   12   60 1260
  191   64  105   78   87   19   62  106   76  122  103   92  119   93
   35   18   68  101   98   65  226  152  246  201  155  261  145   70
   54  173  242  223  177  235  273  232  168  109  174   74  186  150
  151  244  719  180  140  200  158  836  136  254  187  243  274  231
  159  149  181  334  114  268  144  133  276  157   89  208  108   56
  169  281  607  856  734  118   71   59  224  698  176  482  128  293
  458  498  287  297  328   63   45   88   96   85   81  117   75  121
   66   95  139  131  192  210  142  477   55  100  138  690 1101   77
  879  104   61  997  784  874  793  915  684  739  167 1003 1636  137
  760 1026 1011  974  844 1055 1379  476 1136 1412  247   97  112   84
  322  277  239  295  278  319  330  356  310  124  147  129  351  179
  197   22  532  588  564  366  601 1100  597  503  335  541  404  544
  352  529  341  726  364  506  377  677  415  517  570  628  375 1330
  416   83  718 2139  568  429  770  866  685  627  413  905  750  747
 1122 1618  525  410 1041 3424  796  536  165  550  340  408  241  526
  818  318  815  396  454  113  508  528  193  489  510  236  560  549
  635 1430  594  586  695  603  699  358  675  229  199  263  221  163
  213  211  132  153  240  189  272  230  195  202  252  228  304  166
  194  141  164  283  233  267  209  182  204  148  116  206  265  198
  175  225  185  349  291  156  196  170  190  215  275  296  294  302
  288  123  184  146  255  160  126  135  220  218  217  125  234  203
  183  130  115  127  162  110  259  172  171  216  362  298  284  188
  253  311  264  280  279  312  285  406  338  374  251  394  300  533
  397  451  270  332  434  342  433  357  469  491  348  301  336   90
  299  659  423  418   82  584  354  307  444  248  431  303  446  542
  522  440  379  258  553  492  757  426  496  438  346  388  428  333
  266  474  432  742  422  505  463  471  245  339  282  207  403  452
  286  238  306  500  321  292  618  466  372  565  389  256  580  633
  512  269  314  316  572  353  624  475  581  419  453  355  472  363
  897  484  462  554  382  134  520  450  483  425  421  509  329  913
  783  324  430  592  619  337  289  102   99   91  219]
Columna 'num_likes' | 1044 valors únics: [432 150 204 ... 384 678 953]
Columna 'num_loves' | 229 valors únics: [ 92   0  21   9   5  70  32   3   7   6   8  10  23  18  16  28  12  22
   2   4  11  19  33  30  31  13  42  44  15  25  20  14  26   1  56  46
  29  27  45 139  24  35  34  39  38  36  73  47  52 107  50 116  63 220
  77 125  99 234  84  58  17  62 105  80  55  57 136 124 159  82  43  60
  41  40  83  48  51  94  74  49  72  67  68  79 128 126 133  65 108 225
  37  91  61  53 103  81  98  95  87 165 119  59  64  54  93 102 145  88
 104 123 200 233 214 282 198 187 215 217 276 237 141  85 260 251 166 196
 144  90 152 129 150 132 278  97 120 236 207 164 221 162 206 246 289 138
 160 264 202 306 504 176 310 330 194 149 100 131 336 293 188 329 385 326
 349 316 482 291 228 142 163 263 259 299 403 376 320 265 407 247 249 409
 364 267 283 529 281 394 485 390 421 304 239 460 657 106  69  78  76  71
  86  66  75  96 168 110 135 114 121 137 143 156 112 151 146 109 117 147
 101 173 118 113  89 111 153 122 161 155 130 192 157]
Columna 'num_wows' | 65 valors únics: [  3   0   1  10   4   2   7   9   5   6  17  11  12  21  13  14   8  15
  26  16  18  57  28  38  31  46  98 114  90  22  76  74  69  51 278 106
 200  35  89  25 104 138  32  45 252 150 111 123  55 177 108  39 206  33
 103 139 105  43 122  29  49  68  65  19  23]
Columna 'num_hahas' | 42 valors únics: [  1   0   2   5   3   8   4   6   7  13  10  40  24   9  22  11  14  23
 102  16  17  97  57  48 100  50  12  15  18  76  91 157  20  29  33  25
  28  19  43  32  26  21]
Columna 'num_sads' | 24 valors únics: [ 1  0  3  8 19 22 10  2  4 23  6 28 13  5  7 17 51 21 37 11 46 12 14  9]
Columna 'num_angrys' | 14 valors únics: [ 0  3  1  4  2  6 31  5 12  8  7 19 10  9]
Columna 'Column1' | 0 valors únics: [nan]
Columna 'Column2' | 0 valors únics: [nan]
Columna 'Column3' | 0 valors únics: [nan]
Columna 'Column4' | 0 valors únics: [nan]

Les últimes columnes ('Column1' - 'Column4') estan plenes de valors nuls. Procedim a eliminar-les.

In [14]:
columnes_a_eliminar = ['Column1', 'Column2', 'Column3', 'Column4']
df = df.drop(columns=columnes_a_eliminar)

In [15]:
df.columns

Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys'],
      dtype='object')

# Exercici 1
Descarrega el dataset adjunt, de registres de publicacions a Facebook sobre Tailàndia, i classifica els diferents registres utilitzant l'algorisme de K-means.

# Exercici 2
Classifica els diferents registres utilitzant l'algorisme de clustering jeràrquic.


# Exercici 3
Calcula el rendiment del clustering mitjançant un paràmetre com pot ser silhouette.